

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>Users List</h1>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Full name</th>
            </tr>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user["first_name"] }}</td>
                        <td>{{ user["last_name"] }}</td>
                        <td>{{ user["full_name"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</body>
</html>