<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Dojo</title>
</head>
<body>
    <form action="/create/new_ninja" method="POST" class="p-3 col-4 my-5 bg-dark text-light" style="margin-left: 5% !important;">
        <h2 class="text-center text-primary">New Ninja</h2>
    
        <div class="form-group" action="/create_dojo" method="POST">
            <label for="name">Dojo</label>
            <select name="dojo_id" class="form-control">
                {% for d in dojos %}
                    <option value="{{ d.id }}">{{ d.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="bun">First Name:</label>
            <input type="text" name="first_name" id="first_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="meat">Last Name:</label>
            <input type="text" name="last_name" id="last_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="calories">Age:</label>
            <input type="number" min="0" name="age" id="age" class="form-control">
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-primary btn-outline-dark" style="color: white;">
        </div>
    </form>
    <div style="margin-left: 5%;">
        <a href="/"><button class="btn btn-primary btn-outline-dark" style="color: white;">Home</button></a> 
    </div>
</body>
</html>