<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Ground</title>
    <style>
        .container {
            width: 100%;
        }
        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .box {
            width: 200px;
            height: 200px;
            border: 2px solid black;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Welcome!</h1>
        </div>
        <div class="row">
            {% for i in range(0, numb_boxes) %}
                <div class="box" style="background-color: {{color}};"></div>
            {% endfor %}
        </div>
    </div>
</body>
</html>